.collapse__container {
  width: 100%;
  position: absolute;
}
.collapse__title {
  height: 26px;
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px 5px 5px;
  box-sizing: border-box;
}
.button {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
}
.collapse__title svg {
  color: var(--secondary-color);
}
.collapse__parent {
  overflow: hidden;
}
.show {
  transition: height 0.5s ease;
}

.hide {
  height: 0px;
  transition: height 0.6s ease;
}
.collapse__content {
  border: 1px solid var(--secondary-color);
}

/* Button animation */
.collapse__title label {
  display: flex;
  flex-direction: column;
  width: 14px;
  cursor: pointer;
  box-sizing: border-box;
}

.collapse__title label span {
  background: var(--secondary-color);
  height: 2px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.collapse__title label span:nth-of-type(1) {
  width: 100%;
  transform: rotatez(45deg) translate(2.5px, 2px);
}

.collapse__title label span:nth-of-type(2) {
  width: 100%;
  transform: rotatez(-45deg) translate(2px, -2px);
}

.collapse__title input[type='checkbox'] {
  display: none;
}

.collapse__title input[type='checkbox']:checked ~ span:nth-of-type(1) {
  transform-origin: top;
  transform: rotatez(0deg) translate(0);
}

.collapse__title input[type='checkbox']:checked ~ span:nth-of-type(2) {
  transform-origin: bottom;
  transform: rotatez(0deg) translate(0);
}
@media (max-width: 630px) {
  .collapse__container {
    left: 12%;
  }
}
