:root {
  --secondary-color: black;
  --primary-color: white;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --secondary-color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 1440px;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}
main {
  flex: auto;
  padding: 15px;
}
aside {
  width: 33%;
  padding: 15px;
  border-left: 1px solid var(--secondary-color);
  position: relative;
}
aside h2 {
  text-align: right;
  font-size: 67px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
}
