.home {
  display: flex;
  flex-direction: column;
}
.arrow {
  aspect-ratio: 1/1;
  height: 20vh;
  overflow: hidden;
  align-self: flex-start;
}
.arrow svg {
  transform: rotate(-45deg);
  height: 35vh;
  margin: -35%;
}
.home__about {
  margin-top: 30px;
  align-self: center;
  max-width: 1000px;
}
.home__about__title__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 25px;
  position: relative;
}
.home h2 {
  font-size: clamp(4.375rem, -0.7047rem + 7.9681vw, 9.375rem);
  font-weight: 500;
  animation: toptobottom 1s cubic-bezier(0.47, 1.64, 0.41, 0.8) forwards;
}
.home h3 {
  font-size: clamp(2.5rem, 0.5951rem + 2.988vw, 4.375rem);
  font-weight: 500;
  white-space: nowrap;
  animation: bottomtotop 1.3s ease-in-out forwards;
}
.home__about__portrait {
  position: relative;
  width: 30%;
  min-height: 250px;
  min-width: 200px;
  max-width: 280px;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  animation: translateright 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) forwards;
}
.home__about__portrait img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.home__portrait__square {
  width: 100%;
  height: 100%;
  position: relative;
  --b: 1px; /* thickness of the border */
  --c: var(--secondary-color); /* color of the border */
  --w: 30px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}
.home p {
  width: 100%;
  white-space: pre-wrap;
  font-size: clamp(1.25rem, 0.4167rem + 1.4815vw, 1.5rem);
  font-weight: 400;
  padding: 10px;
  text-align: justify;
}
.home__contact__container {
  position: relative;
  padding: 10px;
  height: 90px;
  width: 30%;
  min-width: 100px;
  max-width: 400px;
  margin-top: 15px;
}
.home__contact__container p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home__contact__container svg {
  color: var(--secondary-color);
  height: 100%;
}

/* animations */
@keyframes translateright {
  0%,
  40% {
    opacity: 0;
    translate: 100%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
@keyframes profilepic {
  0%,
  30% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes toptobottom {
  0% {
    opacity: 0;
    transform: translate(0, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes bottomtotop {
  0%,
  30% {
    opacity: 0;
    transform: translate(0, 60%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 1020px) {
  .home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home__about__title__container {
    flex-direction: column-reverse;
  }
  .home__about__portrait {
    width: 100%;
    max-width: 330px;
    align-self: center;
    height: 20vh;
  }
  .arrow {
    display: none;
  }
  .home__about {
    margin-top: 0;
    align-self: center;
  }
}
@media (max-width: 680px) {
  .home__about__title__container {
    gap: 10px;
  }
  .home__about {
    text-align: center;
  }
  .home__about__portrait img {
    object-position: 0px -80px;
  }

  .home h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  .home h3 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .home p {
    width: 100%;
    white-space: normal;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .home__contact__container {
    width: 80%;
    max-width: none;
  }
  .home__contact__container p {
    padding: 10px;
  }
}
