.main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}
.main__title__wrapper {
  position: relative;
  left: -60px;
  overflow: hidden;
  width: 11%;
  min-width: 130px;
  height: 85vh;
  text-overflow: clip;
}
.project {
  width: 90%;
}
.main h1 {
  font-size: 10rem;
  writing-mode: vertical-lr;
  translate: -3rem;
  white-space: nowrap;
}
.main h2 {
  font-size: clamp(4rem, 2.3333rem + 2.963vw, 5rem);
}
.main h3 {
  font-size: 1.7rem;
}
.project__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.project__wrapper > * {
  flex: 1 1 430px;
}
.project__img img {
  display: block;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: top;
  padding: 0.5rem;
}
.project__text {
  font-size: clamp(1rem, 0.7545rem + 0.4364vw, 1.3rem);
  padding: 1rem;
  text-align: justify;
  white-space: pre-line;
}
.project__link a {
  font-size: 1.5rem;
  font-weight: 600;
}
.project__link svg {
  margin-bottom: -5px;
  font-size: 2rem;
  margin-right: 1rem;
}
.project__link {
  margin-top: 1rem;
}
.project__link :hover {
  transition: all ease-in-out 0.5s;
  filter: drop-shadow(5px 5px 10px #6d00c7);
}
@media (max-width: 1586px) {
  .main__title__wrapper {
    height: 100%;
  }
}
@media (max-width: 1020px) {
  .main h1 {
    font-size: 8rem;
    translate: -0.5rem;
  }
}
@media (max-width: 630px) {
  .main__title__wrapper {
    display: none;
  }
  .main h2 {
    font-size: 3rem;
  }
  .main h3 {
    font-size: 1.3rem;
  }
  .project__wrapper {
    margin-top: 0.5rem;
  }
  .project {
    width: 100%;
  }
  .project__img img {
    max-height: 150px;
    padding: 0.3rem;
  }
  .project__link a {
    font-size: 1.3rem;
  }
}
