.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--secondary-color);
}
.header ul,
.header li {
  display: block;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  padding: 5px 25px 5px 25px;
  border-top: 1px solid var(--secondary-color);
}
.header nav {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-left: 1px solid var(--secondary-color);
}
.header h1 {
  text-transform: uppercase;
  width: 80%;
  padding: 15px 10px 5px 10px;
}
.italic {
  font-style: italic;
  letter-spacing: 0.3rem;
}
.block {
  background-color: var(--secondary-color);
  flex: auto;
  position: relative;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary-color);
  rotate: 45deg;
  position: absolute;
  top: 5px;
  right: 0;
}
@media (max-width: 768px) {
  .header h1 {
    width: 50%;
  }
  .header nav {
    width: 50%;
  }
  .header ul {
    justify-content: space-around;
  }
}
@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .header h1 {
    text-align: center;
    width: 100%;
  }
  .header nav {
    border-left: none;
    width: 100%;
  }
  .header ul {
    justify-content: space-around;
  }
}
