.embla {
  flex: auto;
  --slide-spacing: 15px;
  --slide-size: 55%;
  --slide-height: 70vh;
  padding: 1.6rem;
  min-height: 700px;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  text-align: center;
  position: relative;
}
.embla__slide__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.embla__slide__logo {
  position: absolute;
  object-fit: contain;
  object-position: top left;
  top: calc(var(--slide-spacing) * 2);
  left: 15px;
  height: auto;
  max-height: 70px;
  width: 80%;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px;
  pointer-events: none;
}
.embla__button {
  pointer-events: all;
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0 2px 3px black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30%;
  color: var(--primary-color);
}

.embla__button:disabled {
  opacity: 0.3;
}

@media (max-width: 1020px) {
  .embla {
    height: 20vh;
    min-height: 100px;
    --slide-spacing: 7px;
    --slide-size: 60%;
    --slide-height: 20vh;
    padding: 0.5rem;
  }
  .embla__container {
    flex-direction: row;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    margin-top: 0;
    height: 20vh;
  }
  .embla__buttons {
    flex-direction: row;
    padding: 5px;
  }
  .embla__button {
    transform: rotate(-90deg);
    width: 12%;
  }
  .embla__slide {
    padding-top: 0;
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__logo {
    left: 20px;
    width: 70%;
  }
  .embla__slide__img {
    object-position: -20px -78px;
    width: calc(100% + var(--slide-spacing) * 3);
  }
}
@media (max-width: 630px) {
  .embla {
    --slide-size: 100%;
    --slide-spacing: 0px;
  }
  .embla__slide {
    margin-right: 0px;
  }
  .embla__slide__logo {
    width: auto;
    max-width: 68vw;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .embla__slide__img {
    object-position: -20px -30px;
    width: 106%;
  }
}
